{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12"><h2 id="category-title" class="text-center">Gallery Viewer</h2></div>
    </div>
    <div class="row" id="main">
        <div class="col-xs-12 col-md-4">
            <ul class="nav nav-pills nav-stacked" id="category-list"></ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8" id="image-list">
            <p>Select a category from the left to see images here.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8" id="image-display" style="display: none;">

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        window.apiEndpoint = "{{ api_endpoint }}";
    </script>
    <script type="text/javascript" src="/js/gallery.js"></script>
{% endblock %}
